

table {
	background-color: grey;
	border: 1px solid grey;
	width: 500px;
	padding: 30px;
}
th {
	border: 1px solid black;
	background-color: #D3D3D3;
	text-align: left;
	font-size: 150%; 
}


tbody>:nth-child(2) {
	background-color: #0089dc;
}

tbody>:nth-child(3) {
	background-color: #28a6e6;
}
tbody>:nth-child(4) {
	background-color: #66c7f1;
}
tbody>:nth-child(5) {
	background-color: #31abea;
}
tbody>:nth-child(6) {
	background-color: #55b7ed;
}
tbody>:nth-child(7) {
	background-color: #73c1f0;
}
tbody>:nth-child(8) {
	background-color: #b0dbf7;
}
tbody>:nth-child(9) {
	background-color: #01ba89;
}
tbody>:nth-child(10) {
	background-color: #f5b0cc;
}

tbody>:nth-child(11) {
	background-color: #f6a3c2;
}
tbody>:nth-child(12) {
	background-color: #f495b7;
}
tbody>:nth-child(13) {
	background-color: #f47aa7;
}tbody>:nth-child(14) {
	background-color: #f26a98;
}
tbody>:nth-child(15) {
	background-color: #f55b8a;
}
tbody>:nth-child(16) {
	background-color: #ef3f80;
}





